
namespace zapata { namespace jsonball {

const char resource_parameters[] = {
{{ resource_parameters|json_to_char_array }}, 0
};

const char* get_resource_parameters()
{
   return resource_parameters;
}

} }