#include <appbase/application.hpp>
#include <boost/preprocessor/seq/for_each.hpp>

#include <zapata/manifest/plugins.hpp>

{% for plugin in plugins %}
#include <zapata/plugins/{{ plugin["plugin_name"] }}/{{ plugin["plugin_name"] }}_plugin.hpp>
{% endfor %}

namespace zapata { namespace plugins {

void register_plugins()
{
   {% for plugin in plugins %}
   appbase::app().register_plugin< zapata::plugins::{{ plugin["plugin_namespace"] }}::{{ plugin["plugin_name" ] }}_plugin >();
   {% endfor %}
}

} }
